* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #282828;
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 21px;
}

a {
    color: #d2292d;
    padding: 8px 0;
    display: inline-block;
}

a:visited {
    color: #d2292d;
}

h2,
h3 {
    color: #1761b0;
}

h1 {
    font-size: 32px;
    margin-left: 19px;
    color: #f43737;
    background: #181818;
}

h2 {
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 15px;
    margin-top: 8px;
}

h3 {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 8px;
    padding-top: 13px;
}

p {
    padding-top: 5px;
    padding-bottom: 8px;
}

img {
    border-radius: 8px;
    box-shadow: 0 5px 15px #000000b3;
    margin-block: 8px;
}

header,
footer {
    background: #181818;
    padding: 21px;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 5px #000000b3;
    padding-bottom: 15px;
}

header a {
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    width: fit-content;
}

header img {
    background: #181818;
    box-shadow: none;
    width: 35px;
    height: 35px;
    margin: 0;
    margin-left: 5px;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 21px;
}

span a,
span a:visited,
summary a,
summary a:visited {
    color: #aaa;
    letter-spacing: 1px;
}

select {
    background: #282828;
    color: #eee;
    border: 1px solid #1761b0;
    border-radius: 8px;
    padding: 8px 15px;
    box-shadow: 0px 2px 5px #000000b3;
    width: 211px;
    outline: none;
    margin-top: 8px;
    position: relative;
    cursor: pointer;
    min-height: 44px;
}

select:focus {
    border-color: #f43737;
}

address {
    margin-top: 13px;
    margin-bottom: 13px;
    background: #181818;
}

footer a {
    background: #181818;
    text-decoration: none;
}

address a,
address a:visited,
details details details a,
details details details a:visited {
    color: #1761b0;
}

div,
div h3,
div p {
    background: #1761b0;
}

div h3 {
    color: #0d3580;
}

div {
    padding: 34px;
    margin-block: 21px;
    margin-left: -34px;
    border-radius: 8px;
}


section,
section em,
section a {
    background: #d2292d;
    color: #eee;
    display: block;
}

section a,
div a {
    margin-top: 1px;
    font-size: 17px;
    color: #eee;
    background-color: inherit;
    display: block;
}

section a:visited,
div a:visited {
    color: #eee;
}

section {
    padding: 34px;
    margin-block: 21px;
    margin-left: -34px;
    border-radius: 8px;
}

ul {
    margin-left: 19px;
}

li {
    padding-block: 5px;
    list-style-type: square;
}

li em {
    font-weight: bold;
}


ul#tl {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul#tl>li {
    background: #181818;
    border-left: 4px solid #1761b0;
    border-radius: 8px;
    margin-bottom: 21px;
    padding: 21px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px #00000080;
    list-style: none;
}

ul#tl>li:hover {
    background: #202020;
    border-left-color: #d2292d;
    box-shadow: 0 5px 15px #000000b3;
    transform: translateX(5px);
}

ul#tl>li h3 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 13px;
}

ul#tl>li h3 a {
    font-size: 21px;
    font-weight: 600;
    color: #1761b0;
    text-decoration: none;
    padding: 0;
    display: block;
    transition: color 0.3s ease;
}

ul#tl>li:hover h3 a {
    color: #d2292d;
}

ul#tl>li>a {
    display: block;
    margin-bottom: 13px;
    text-decoration: none;
}

ul#tl>li img {
    width: 100%;
    max-width: 288px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 10px #00000080;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul#tl>li:hover img {
    transform: scale(1.02);
    box-shadow: 0 5px 15px #000000b3;
}

ul#tl>li p {
    color: #ccc;
    line-height: 1.6;
    margin: 0;
    padding-top: 8px;
}

ul#tl>li em {
    display: block;
    font-size: 14px;
    color: #aaa;
    font-style: normal;
    margin-top: 8px;
    font-weight: normal;
}

.other-image {
    width: 198px;
    border-radius: 8px;
    box-shadow: 0 5px 15px #000000b3;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 13px;
}

strong {
    font-size: 22px;
    display: block;
    margin-top: 13px;
    margin-bottom: 5px;
}

summary {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 17px;
    color: #aaa;
    min-height: 44px;
    display: list-item;
    list-style-position: outside;
    margin-left: 20px;
}

details {
    margin-bottom: 8px;
}

details p {
    padding-left: 32px;
    padding-right: 12px;
}

main p a {
    display: inline;
}

details img {
    width: 333px;
    margin: 5px 32px;
}

summary::marker {
    color: #1761b0;
}

details[open]>summary::marker {
    color: #1761b0;
}

details details {
    margin-left: 20px;
    margin-bottom: 5px;
}

details details summary {
    padding: 6px 8px;
    font-size: 16px;
}


.post-image {
    width: 700px;
    margin-top: 5px;
    margin-bottom: 13px;
}

.pay {
    clear: both;
    display: block;
    margin-bottom: 13px;
}

@media (max-width: 500px) {
    * {
        transition: none !important;
        animation: none !important;
    }

    body {
        font-size: 15px;
        line-height: 1.6;
        overflow-x: hidden;
    }

    p {
        text-align: left;
        word-wrap: break-word;
    }

    main {
        width: 100%;
        padding: 15px;
    }

    ul {
        margin-left: 15px;
    }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 19px;
    }

    strong {
        font-size: 20px;
    }

    img {
        box-shadow: 0 2px 8px #000000b3;
    }

    img:not(header img) {
        max-width: 90%;
        height: auto;
    }

    .post-image {
        width: 100%;
    }

    .other-image {
        width: 100%;
        max-width: 198px;
    }

    details img {
        margin-left: 21px;
    }

    select {
        box-shadow: none;
    }

    header {
        padding: 10px 15px;
    }

    header img {
        width: 28px;
        height: 28px;
    }

    section,
    div {
        margin-left: 0;
        padding: 20px;
    }

    summary {
        font-size: 16px;
        padding: 6px 8px;
        margin-left: 16px;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    }

    details {
        margin-bottom: 6px;
    }

    details p {
        padding-left: 24px;
        padding-right: 8px;
    }

    details details {
        margin-left: 16px;
        margin-bottom: 4px;
    }

    details details summary {
        padding: 4px 6px;
        font-size: 15px;
    }

    li {
        padding-block: 8px;
        line-height: 1.5;
    }

    ul#tl>li {
        padding: 15px;
        margin-bottom: 15px;
    }

    ul#tl>li:hover {
        transform: none;
    }

    ul#tl>li:hover img {
        transform: none;
    }

    ul#tl>li h3 {
        padding-bottom: 10px;
    }

    ul#tl>li h3 a {
        font-size: 18px;
    }

    ul#tl>li img {
        max-width: 100%;
    }

    ul#tl>li p {
        font-size: 14px;
    }
}
